h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.heading-css-1 h1 {
  font-size: 35px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111;
}

.heading-css-1 h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  content: "";
  background-color: #777;
  z-index: 4;
}
.heading-css-1 h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
  content: "\00a7";
  font-size: 30px;
  line-height: 40px;
  color: #c50000;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: #f8f8f8;
}

.heading-css-2 h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
}
.heading-css-2 h1 span {
  margin-top: 20px;
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: black;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}
.heading-css-2 h1:before {
  position: absolute;
  left: 0;
  bottom: 38px;
  width: 60px;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #dfdfdf;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.main-box1 {
  display: flex;
}

.child-11 {
  flex: 7.5;
}

.child-21 {
  flex: 2.5;
}

@media only screen and (max-width: 768px) {
  .main-box1 {
    flex-direction: column;
  }
}

.galleryItem img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.galleryWrapper {
  padding: 5% 10%;
}

.filterItem ul {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.filterItem ul button {
  background: #e91f3a;
  color: #fff;
  padding: 8px 26px;
  text-transform: uppercase;
  border: navajowhite;
  font-size: 17px;
  border-radius: 50px;
}

.filterItem ul button:hover {
  background: #222;
  cursor: pointer;
}

.galleryItem img {
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr;
  }

  .filterItem ul button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.heading-css-1 h1 {
  font-size: 35px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111;
}

.heading-css-1 h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  content: "";
  background-color: #777;
  z-index: 4;
}
.heading-css-1 h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
  content: "\00a7";
  font-size: 30px;
  line-height: 40px;
  color: #c50000;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: #f8f8f8;
}
