.btn:hover {
  background-color: rgba(227, 147, 147, 0.9);
  transform: scale(0.9);
  padding: 8px;
  transition: 300ms;
}

.abtn:hover {
  transform: scale(1.1);
  transition: 300ms;
}
.abtn {
  font-size: 30px;
  color: rgb(0, 37, 73);
}

.abovebtn:hover {
  background-color: black;
  color: white;
}

.internal-nav li {
  height: 40px;
  color: #ec3237;
  font-size: medium;
  padding-left: 5%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.hlist a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #ec3237;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ec3237;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
  background: #ec3237;
}

.menu-title:hover:before {
  border-top-color: #ec3237;
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
  background: #ec3237;
}

.menu-title_2nd:hover {
  background: #ec3237;
}

.menu-title_2nd:before {
  border-top-color: #ec3237;
}

.menu-title_2nd:hover:before {
  border-top-color: #ec3237;
}

.menu-title_3rd {
  background: #ec3237;
}

.menu-title_3rd:hover {
  background: #ec3237;
}

.menu-title_3rd:before {
  border-top-color: #ec3237;
}

.menu-title_3rd:hover:before {
  border-top-color: #ec3237;
}

.menu-title_4th {
  background: #ec3237;
}

.menu-title_4th:hover {
  background: #ec3237;
}

.menu-title_4th:before {
  border-top-color: #ec3237;
}

.menu-title_4th:hover:before {
  border-top-color: #ec3237;
}

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  color: #000000;
  font-weight: 500;
  z-index: 100;
  transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color,
    0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
  z-index: 99;
}

.hList > * {
  float: left;
  gap: 2%;
}

.hList > * + * {
  margin-left: 0;
}
