.btn:hover {
  background-color: rgba(227, 147, 147, 0.9);
  transform: scale(0.9);
  padding: 8px;
  transition: 300ms;
}

.abtn:hover {
  transform: scale(1.1);
  transition: 300ms;
}
.abtn {
  font-size: 30px;
  color: rgb(0, 37, 73);
}

.abovebtn:hover {
  background-color: black;
  color: white;
}
