/* h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.h1-gall-home h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 25px;
  align-items: center;
}

.h1-gall-home h1:after,
.h1-gall-home h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}
.main-gallery {
} */

/*-------------NEW CSS------------------*/
:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border: 4px solid #ec3237;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  color: grey;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: var(--white);
  background: var(--black);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
  font-size: medium;
  font-weight: 400;
}

.card .card-link-wrapper {
  margin-top: auto;
  color: black;
  font-weight: 600;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--black);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--white);
  color: var(--black);
}
.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--black);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .cards::-webkit-scrollbar {
    display: none;
  }
}

/*--------------HEADER----------------*/
:root {
  --text-color: #ec3237;
  --background-color: rgb(212, 212, 212);
}
.main-wrapper-main {
  padding: 0% 10% 0% 10%;
}
.wrapper {
  border-radius: 45px;
  display: grid;
  place-content: center;
  min-height: 20vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 1rem + 18vw, 7rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}
@media only screen and (max-width: 768px) {
  .wrapper {
    font-size: clamp(1rem, 1rem + 18vw, 3rem);
  }
}
.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  color: #ec3237;
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 85%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 85%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
