h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 120px; /* Increased font size */
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.7em; /* Increased font size */
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

.heading-css-1 h1 {
  font-size: 60px; /* Increased font size */
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111;
}

.heading-css-1 h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  content: "";
  background-color: #777;
  z-index: 4;
}

.heading-css-1 h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
  content: "\00a7";
  font-size: 30px;
  line-height: 40px;
  color: #c50000;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: #f8f8f8;
}

.heading-css-2 h1 {
  text-align: center;
  font-size: 30px; /* Increased font size */
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
}

.heading-css-2 h1 span {
  margin-top: 20px;
  text-transform: none;
  font-size: 2em; /* Increased font size */
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: black;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}

.heading-css-2 h1:before {
  position: absolute;
  left: 0;
  bottom: 38px;
  width: 60px;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #dfdfdf;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 40px; /* Increased font size */
  font-weight: bold;
  color: #333;
  text-align: center;
}

.main-box {
  display: flex;
}

.child-1 {
  flex: 7.5;
}

.child-2 {
  flex: 2.5;
}

@media only screen and (max-width: 768px) {
  .main-box {
    flex-direction: column;
  }
}
