/* Container for the brand logo slider */
.brand-logo-slider {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}

/* Optional title styling */
.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Center the slider */
.slick-slider {
  margin: 0 auto;
}

/* Adjust the margin for the slick-list */
.slick-list {
  margin: 0 -15px;
}

/* Style for individual slides */
.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}

/* Wrapper for the image with a smooth transition effect */
.image-wrapper {
  transition: transform 0.3s ease-in-out;
}

/* Style for the images */
.image-wrapper img {
  width: 100%;
  max-width: 8rem;
  height: auto;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .slick-slide {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .brand-logo-slider {
    margin-top: 125px;
  }
  .slick-slide {
    padding: 0 8px;
  }
}

@media (max-width: 768px) {
  .brand-logo-slider {
    margin-top: 200px;
  }
  .title {
    font-size: 20px;
  }

  .slick-slide {
    padding: 0 5px;
  }
}
