.brand-logo-slider {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.slick-slider {
  margin: 0 auto;
}

.slick-list {
  margin: 0 -15px;
}

.slick-slide {
  padding: 0 15px;
  box-sizing: border-box;
}

.image-wrapper {
  transition: transform 0.3s ease-in-out;
}

.image-wrapper img {
  width: 100%;
  max-width: 20rem; /* Adjust the max-width based on your design */
  height: auto;
  border-radius: 8px; /* Add a border radius for a more polished look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .slick-slide {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .brand-logo-slider {
    margin-top: 125px;
  }
  .slick-slide {
    padding: 0 8px;
  }
}

@media (max-width: 768px) {
  .brand-logo-slider {
    margin-top: 125px;
  }
  .title {
    font-size: 20px;
  }

  .slick-slide {
    padding: 0 5px;
  }
}
