.slider-area {
  padding: 3% 2% 3% 2%;
}
.brandwrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2.5rem;
  background: #ddd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item {
  animation: animate 25s alternate linear infinite;
  margin-left: 2%;
  margin-right: 2%;
}
.item img {
  display: block;
  max-width: 200px;
  max-height: 90px;
  width: auto;
  height: auto;
}
.container:hover .item {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1100px, 0, 0);
  }
}
@media (max-width: 767px) {
  .slider-area h2 {
    font-size: 30px;
  }
  .brandwrapper {
    width: 95%;
    border-radius: 0;
    padding: 0;
  }
}

.temp {
  color: #fd9500;
}
